.tb-box a{
    font-size: 40px;
    color: #88bef5;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 16px;
    display: inline-block;
    position: relative;
    transition: 0.5s linear;
}
.tb-box a::before,.btn-box a::after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s linear;
}
.tb-box a:hover{
    transform: scale(0.8);
}
.tb-box a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg)
}
.tb-box a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg)

}
.myBox {
    cursor: url('../img/logo.png'), pointer